/* Primary*/
/*backgound*/
/*circle*/
/*neutral*/
*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

body {
  height: 100vh;
  background-color: hsl(221, 100%, 96%);
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin: 0 auto;
  max-width: 1200px;
  margin-top: 1.5rem;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 375px;
  background-color: hsl(221, 100%, 96%);
  border-radius: 2rem;
  margin-top: 1rem;
  -webkit-box-shadow: hsl(252, 49%, 49%) 0px 5px 15px;
          box-shadow: hsl(252, 49%, 49%) 0px 5px 15px;
}
.card__result {
  background-image: -webkit-gradient(linear, left top, left bottom, from(hsl(252, 49%, 49%)), to(hsl(241, 68%, 39%)));
  background-image: linear-gradient(hsl(252, 49%, 49%), hsl(241, 68%, 39%));
  border-radius: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.card__result-info {
  color: hsl(0, 0%, 100%);
  text-align: center;
  margin-top: 2rem;
  font-size: 2rem;
}
.card__result-circle {
  width: 12rem;
  height: 12rem;
  border-radius: 50%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(hsl(241, 68%, 39%)), to(hsl(252, 49%, 49%)));
  background-image: linear-gradient(hsl(241, 68%, 39%), hsl(252, 49%, 49%));
  margin-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}
.card__result-one {
  font-size: 5.5rem;
  color: hsl(0, 0%, 100%);
  font-weight: bold;
}
.card__result-max {
  position: absolute;
  font-size: 1.5rem;
  bottom: 10%;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  color: hsl(241, 100%, 89%);
}
.card__result-text {
  color: hsl(0, 0%, 100%);
  margin-top: 1.5rem;
  font-size: 2rem;
}
.card__result-describe {
  color: hsl(0, 0%, 100%);
  padding: 0.5em 5em;
  font-size: 1.5rem;
  margin-bottom: 1em;
}
.card__summary {
  background-color: hsl(221, 100%, 96%);
  padding: 0 1.5em;
  border-radius: 2rem;
}
.card__summary-title {
  font-weight: bold;
  margin: 1.5rem 0 1.2rem 2rem;
}
.card__summary-properties {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1em;
  margin-bottom: 1rem;
  border-radius: 1rem;
  background-color: hsl(241, 100%, 89%);
  width: 100%;
}
.card__summary-properties:first-of-type {
  background-color: hsla(0, 100%, 67%, 0.155);
}
.card__summary-properties:nth-of-type(2) {
  background-color: hsla(39, 100%, 56%, 0.146);
}
.card__summary-properties:nth-of-type(3) {
  background-color: hsla(166, 100%, 37%, 0.158);
}
.card__summary-properties:nth-of-type(4) {
  background-color: hsla(234, 85%, 45%, 0.151);
}
.card__summary-info {
  font-size: 1.5rem;
  margin-left: 1rem;
}
.card__summary-result {
  margin-left: auto;
  font-size: 1.5rem;
}
.card__summary-reaction-info {
  color: hsl(0, 100%, 67%);
}
.card__summary-memory-info {
  color: hsl(39, 100%, 56%);
}
.card__summary-verbal-info {
  color: hsl(166, 100%, 37%);
}
.card__summary-visual-info {
  color: hsl(234, 85%, 45%);
}
.card__continue {
  margin-top: 1rem;
  width: 100%;
  border-radius: 30px;
  padding: 1em;
  margin-bottom: 1rem;
  border: none;
  background-color: hsl(224, 30%, 27%);
  letter-spacing: 1px;
  color: hsl(0, 0%, 100%);
  cursor: pointer;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}
.card__continue:focus, .card__continue:hover {
  background-color: hsl(241, 68%, 39%);
}

@media (min-width: 800px) {
  body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .card {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 600px;
  }
  .card__result {
    width: 50%;
    padding: 1em;
  }
  .card__result-describe {
    padding: 0.5em 2em;
  }
  .card__summary {
    width: 50%;
  }
  .card__continue {
    margin-bottom: 1.5rem;
  }
}/*# sourceMappingURL=style.css.map */